- attributes = @matters.first.class.attribute_names - %w(id created_at updated_at)
%table
  %thead
    %tr
      - attributes.each do |attr|
        %th= attr.humanize
      %th &nbsp;
  %tbody
    - @matters.each do |resource|
      %tr[resource]
        - attributes.each do |attr|
          %td= resource.public_send(attr).to_s.truncate(20)
        %td
          = link_to 'show', polymorphic_path(resource)
          |
          = link_to 'edit', polymorphic_path(resource, action: :edit)
          |
          = link_to 'destroy', polymorphic_path(resource), method: :delete, confirm: "Are you sure?"

%div= link_to 'new', polymorphic_path(@matters.first, action: :new)
